NEXT_PUBLIC_SUPABASE_URL=https://evwblubjpjncvmwrdfvm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV2d2JsdWJqcGpuY3Ztd3JkZnZtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0OTc4MTQsImV4cCI6MjA5NDA3MzgxNH0.0cOhmUAXLVEyg3DGCDyoJw7NUHbf9XZlwbsXqjSUoz0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV2d2JsdWJqcGpuY3Ztd3JkZnZtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODQ5NzgxNCwiZXhwIjoyMDk0MDczODE0fQ.IZK6s3yFPpCMN3afRPyXLcVrRrovqG6xLg1QQrqv3Vo


